{% extends 'base.html' %}{% block page_title %}Home About Page{% endblock %} {% block page_heading %}Pages about the site{% endblock %}

{% block content %}
{% load static %}

<table class="large-width-table">
  <tr>
    <th>
      <h2>Welcome</h2>
    </th>
  </tr>
  <tr>
    <td>
      Our mission is to make it easy for you to report bugs and tell us what you would like us to develop.  Donations are welcome to keep the tea flowing.
    </td>
  </tr>
  <tr>
    <th>
      All Features/Issues Votes
    </th>
  </tr>
  <tr>
    <td>
      <canvas id="myChartAllVotes" width="100%" height="100%"></canvas>
    </td>
  </tr>
  <tr>
    <th>
      All Features/Issues Donations
    </th>
  </tr>
  <tr>
    <td>
      <canvas id="myChartAllDonations" width="100%" height="100%"></canvas>
    </td>
  </tr>
</table>


<script src="{% static 'js/chartFunctions.js' %}"></script>
<script>

function allVotes(){
  var ctx = document.getElementById("myChartAllVotes").getContext('2d');
  var chartlabel = '# of Votes';
  var labelNames = {{ all_product_names_all_votes | safe }};
  var graphData = {{ all_product_all_votes | safe }};
  var backgroundColours = {{ background_colours_all_votes | safe }};
  var borderColors = {{ border_colours_all_votes | safe }};
  createBarChart(ctx, chartlabel, labelNames, graphData, backgroundColours, borderColors);
}
allVotes();

function donations(){
  var ctx = document.getElementById("myChartAllDonations").getContext('2d');
  var chartlabel = '£ of Donations';
  var labelNames = {{ all_product_names_donations | safe }};
  var graphData = {{ all_product_donations | safe }};
  var backgroundColours = {{ background_colours_donations | safe }};
  var borderColors = {{ border_colours_donations | safe }};
  createBarChart(ctx, chartlabel, labelNames, graphData, backgroundColours, borderColors);
}
donations();

</script>

{% endblock %}
