{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}

{% block content %}

<table class="small-width-table">
  <tr>
    <th>
      <h2>Reset Password</h2>
    </th>
    <td>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      Please specify your email address to receive instructions for resetting it.
    </td>
  </tr>
  <tr>
    <td>
      <form method="post" class="accountform">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
         {{ form.email.errors }}
         <label for="id_email" class="control-label required-field">E-mail address:</label>
     </td>
     <td>
      {{ form.email }}
      </td>
      <tr>
        <td>
        </td>
        <td>
          <input type="submit" class="button small button-form cart-column-text row-buttons one-cell-items" value="Reset" />
        </td>
      </form>
    </tr>
</table>









{% endblock %}
