{% extends 'base.html' %}
{% block page_title %}Create Features/Issue Requests Page{% endblock %}
{% block content %}
{% load widget_tweaks %}

<form enctype="multipart/form-data" method="post" novalidate>
  {% csrf_token %}

  {{ new_product_form.non_field_errors }}

  {% for hidden_field in new_product_form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
  {% endfor %}

  {{ form.errors }}

  <table>
    <tr>
      <th>
      </th>
      <td>
        <h2>Feature/Issue</h2>
      </td>
    </tr>
    {% for field in new_product_form.visible_fields %}
      <tr>
        <th>{{ field.label_tag }}</th>
        <td>
          {{ field.errors }}
          {% render_field field style="border: 2px dashed orange;" placeholder=field.name %}
          {{ field.help_text }}
        </td>
      </tr>
    {% endfor %}
    <tr>
      <th>
      </th>
      <td>
        <button type="submit" onclick="issueZeroPrice();" class="button small button-form cart-column-text row-buttons one-cell-items product-save">Save</button>
        <a href="{% url 'products' %}"><button type="button" class="button small button-form cart-column-text row-buttons one-cell-items product-cancel">Cancel</button></a>
      </td>
    </tr>
  </table>
</form>

{% endblock %}
