{% extends 'base.html' %}
{% block page_title %}Create Product Area Page{% endblock %}
{% block content %}
{% load widget_tweaks %}

<form method="post" novalidate>
  {% csrf_token %}

  {{ product_area_form.non_field_errors }}

  {% for hidden_field in new_product_area_form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
  {% endfor %}

  {{ form.errors }}

  <table class="medium-width-table">
    <tr>
      <th>
      </th>
      <td>
        <h2>New Feature/Issue Area</h2>
      </td>
    </tr>
    {% for field in new_product_area_form.visible_fields %}
      <tr>
        <th>{{ field.label_tag }}</th>
        <td>
          {{ field.errors }}
          {% render_field field style="border: 2px dashed orange;" placeholder=field.name %}
          {{ field.help_text }}
        </td>
      </tr>
    {% endfor %}
    <tr>
      <th></th>
      <td class="row-buttons">
        <button type="submit" class="button small product-new button-form">Save</button>
        <a href="{% url 'products' %}"><button type="button" class="button small button-form cart-column-text">Cancel</button></a>
      </td>
    </tr>
  </table>
</form>

<table class="medium-width-table">
  <tr>
    <th>
      <h2>Existing Feature/Issue Areas</h2>
    </th>
    <td>
    </td>
  </tr>
  {% for product_area in product_areas %}
    <tr>
      <td class="description-heading">{{ product_area.name }}</td>
      <td>
      </td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
