{% extends 'base.html' %}
{% block page_title %}Product Areas Page{% endblock %}
{% block content %}
  <table class="medium-width-table">
    <tr>
      <th>
      </th>
      <td>
        <h2>Feature/Issue Areas</h2>
      </td>
    </tr>
    {% for product_area in product_areas %}
      <tr>
        <td class="description-heading">{{ product_area.name }}</td>
        <td>
          <a href="{% url 'edit_product_area' product_area.id %}"><button type="button" id="edit_{{product_area.id}}" class="button small button-form cart-column-text row-buttons one-cell-items">Edit</button></a>
          <a href="{% url 'delete_product_area' product_area.id %}"><button type="button" id="delete_{{product_area.id}}" class="button small button-form cart-column-text row-buttons one-cell-items">Delete</button></a>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
