{% extends 'base.html' %}
{% block page_title %}Features/Issues Page{% endblock %}
{% block content %}

<ul class="accordion" data-accordion data-allow-all-closed="true">
{% for product in products %}

  <li class="accordion-item is-active" data-accordion-item>
      <!-- Accordion tab title -->
      {% ifequal product.product_type 'I' %}
        <a href="#" class="accordion-title issue">
          <span class="line-heading">Name:</span> {{ product.name }}
          <span class="line-heading">Price:</span> {{ product.price }}
          <span class="line-heading">Total Cumulative Donations: </span> {{ product.total_amount_paid }}
          <span class="line-heading">Status:</span> {{ product.get_status_display }}
        </a>
       {% else %}
       <a href="#" class="accordion-title feature">
         <span class="line-heading">Name:</span> {{ product.name }}
         <span class="line-heading">Price:</span> {{ product.price }}
         <span class="line-heading">Total Cumulative Donations: </span> {{ product.total_amount_paid }}
         <span class="line-heading">Status:</span> {{ product.get_status_display }}
       </a>
       {% endifequal %}

      <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
      <div class="accordion-content" data-tab-content>
        <table class="stack product-table">
          <tbody>
            <tr>
              <td>
                <div data-id="{{product.id}}" class="image-detail" onclick="toggleFullSize(this)">
                  <img class="thumbnail-image-line-detail" src="{{ MEDIA_URL }}{{ product.image }}">
                </div>
                <div class="detail-paragraph">
                  <div class="description-element">
                    <h3 class="description-heading">Description {{ product.product_area }} {{ product.get_product_type_display }}</h3>
                  </div>
                  <div class="description-element">
                    <span class="description-text">{{ product.description }}</span>
                  </div>
                  <div>
                    <p class="file-name"><strong>Need:</strong> {{ product.get_product_need_display }}</p>
                    <p class="file-name"><strong>Complexity:</strong> {{ product.get_product_complexity_display }}</p>
                  </div>
                  <div>
                    <strong class="file-name">Document:</strong>
                    {% if product.product_document %}
                      <a href="{{ product.product_document.url }}" download="{{ product.file.name }}">
                        <span class="file-name">{{ product.filename }}</span>
                      </a>
                    {% endif %}
                  </div>
                </div>
              </td>
              <td class="add-to-cart-cell">
                <form method="post" action="{% url 'add_to_cart' product.id %}">
                  {% csrf_token %}
                  <div class="row grid-x">
                    <div class="small-5 large-10 columns add-to-cart-vote-form">
                      <p class="cart-column-text votes-label">Votes:
                          <span data-id="{{product.id}}">{{ product.total_votes }}</span></p>
                      <form method="post" action="{% url 'add_to_cart' product.id %}">
                        <div class="input-group">
                          <span class="input-group-label quantity-label cart-column-text">Quantity:</span>
                          <input name='quantity' id="quantity_{{product.id}}" type="number" min="1" max="999" class="form-control input-group-field small quantity-input cart-column-text" placeholder="" required>
                        </div>
                        {% if user.is_authenticated %}
                          <input type="button" onclick="plusOneVote(this)" title="Just 1 vote" class="button small button-cart-form cart-column-text" data-id="{{product.id}}" value="+1 Vote">
                          <input type="submit" id="add_to_cart_{{product.id}}" class="button small button-cart-form cart-column-text" value="Add to Cart">
                          <a href="{% url 'edit_product' product.id %}"><button type="button" class="button small button-cart-form cart-column-text">Edit</button></a>
                        {% else %}
                          <input type="button" title="Only 1 vote allowed per user" onclick="plusOneVote(this)" class="button small button-cart-form cart-column-text" data-id="{{product.id}}" value="+1 Vote" disabled=true>
                          <input type="submit" class="button small button-cart-form cart-column-text" value="Add to Cart" disabled=true>
                          <a href="{% url 'edit_product' product.id %}"><button type="button" class="button small button-cart-form cart-column-text" disabled=true>Edit</button></a>
                        {% endif %}
                      </form>
                    </div>
                  </div>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

  </li>

{% endfor %}
</ul>

{% endblock %}

<!-- TODO: if reduced image shorter than description, documents the wrap below, clear left -->
