{% extends 'base.html' %}
{% block page_title %}CreditCard Charge{% endblock %}
{% block content %}

<table class="medium-width-table">
  <tr>
    <th>
      <h2>Checkout</h2>
    </th>
    <td>
    </td>
  </tr>
  <tr>
    <th>
      Total
    </th>
    <td>
      {{total}}
    </td>
  </tr>
  <form action="" method="post">{% csrf_token %}
    {% for field in form %}
    <tr>
      <th>
          {{ field.label_tag }}
      </th>
      <td>
        {{ field }}
        {{ field.errors }}
      </td>
    </tr>
    {% endfor %}
    <tr>
      <th>
      </th>
      <td>
        <input type="submit" value="Pay" id="pay-with-creditcard" class="button small button-form cart-column-text row-buttons"/>
      </td>
    </tr>
  </form>
</table>
{% endblock %}
