{% extends 'base.html' %} {% block page_title %}Product comments placeholder{% endblock %} {% block page_heading %}Product comments placeholder{% endblock %}
{% load static %}
{% block content %}
<h3>{{ name }} Comments</h3>
            <div> {{ comment.comment_wiki | safe }}  </div>
    <a href="{% url 'edit_comments' id name %}"><button type="button" class="button small button-cart-form cart-column-text">Edit</button></a>
    <a href="{% url 'products' %}"><button type="button" class="button small button-cart-form cart-column-text">All Products</button></a>
{% endblock %}
