{% extends 'base.html' %} {% block page_title %}Product comments placeholder{% endblock %} {% block page_heading %}Product comments placeholder{% endblock %}
{% block content %}
{% load widget_tweaks %}
<script type="text/javascript">
tinymce.init({
  selector: '#id_comment_wiki'
});
</script>
  <p>{{ name }} Comments</p>

  {{ comment_form.media }}
  <form method="post" novalidate>
    {% csrf_token %}

    {{ comment_form.non_field_errors }}

    {% for hidden_field in comment_form.hidden_fields %}
      {{ hidden_field.errors }}
      {{ hidden_field }}
    {% endfor %}

    {{ form.errors }}

    <table border="1">
      {% for field in comment_form.visible_fields %}
        <tr>
          <td>
            {{ field.errors }}
            {% render_field field style="border: 2px dashed red;" placeholder=field.name %}
            {{ field.help_text }}
          </td>
        </tr>
      {% endfor %}
    </table>

    <button type="submit" class="button small product-new">Save</button>
    <a href="{% url 'products' %}"><button type="button" class="button small button-cart-form cart-column-text">All Products</button></a>
  </form>


{% endblock %}
