{% extends 'base.html' %} {% block page_title %}Product comments placeholder{% endblock %} {% block page_heading %}Product comments placeholder{% endblock %}
{% block content %}
{% load widget_tweaks %}
<script type="text/javascript">
tinymce.init({
  selector: '#id_comment_wiki'
});
</script>

  <table class="medium-width-table">
    <tr>
      <th>
        <h2>{{ name }} Comments</h2>
      </th>
    </tr>
      <tr>
        <td>
          {{ comment_form.media }}
          <form method="post" novalidate>
            {% csrf_token %}

            {{ comment_form.non_field_errors }}

            {% for hidden_field in comment_form.hidden_fields %}
              {{ hidden_field.errors }}
              {{ hidden_field }}
            {% endfor %}

            {{ form.errors }}

            {{ comment_form.comment_wiki | safe }}
        </td>
      </tr>
      <tr>
        <td class="add-to-cart-cell">
          <button type="submit" class="button small button-form cart-column-text row-buttons one-cell-items">Save</button>
          <a href="{% url 'products' %}"><button type="button" class="button small button-form cart-column-text row-buttons one-cell-items">Cancel</button></a>
        </td>
      </tr>
  </table>
  </form>

{% endblock %}
